<html ng-app="ionicApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Flipping cards</title>

  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
</head>

<body ng-controller="MainCtrl">

  <ion-header-bar class="bar-positive">
    <h1 class="title">Flipping cards</h1>
  </ion-header-bar>

  <ion-content>
    <div class="list padding">
      <div ng-click="flip()" class="flip-container">
        <div class="flipper clearfix">
          <div class="front card item-text-wrapped">
            <div class="top">
            </div>
            <div class="icon-holder">A</div>
            <div class="padding">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga incidunt distinctio error, aperiam reiciendis minus maxime quos ex voluptates commodi numquam beatae eius, animi consectetur eos tenetur dolorum. Natus, beatae!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam architecto culpa autem ex. Ad ab, at. Esse eaque quos cumque facilis repellendus eos magnam dolorem, nam, necessitatibus facere, sequi ratione?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci nam consequatur amet, laboriosam deserunt qui asperiores, dicta eveniet repellendus assumenda blanditiis ut sequi. Mollitia consequatur magnam placeat provident praesentium
                quas.</p>
            </div>
          </div>
          <div class="back card item-text-wrapped success">
            <div class="top">
            </div>
            <div class="icon-holder">B</div>
            <div class="answer padding">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate itaque voluptatibus hic voluptas, natus quasi cupiditate asperiores, tempora delectus, iste et labore? Ullam autem inventore animi error temporibus voluptas sequi.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rem ab velit temporibus nam dicta fuga, cumque error? Ex culpa, incidunt cumque. Atque blanditiis soluta, nihil dolorem similique laudantium velit.</p>
            </div>
          </div>
        </div>
      </div>
      <div ng-click="flip()" class="flip-container">
        <div class="flipper clearfix">
          <div class="front card item-text-wrapped">
            <div class="top">
            </div>
            <div class="icon-holder">A</div>
            <div class="padding">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga incidunt distinctio error, aperiam reiciendis minus maxime quos ex voluptates commodi numquam beatae eius, animi consectetur eos tenetur dolorum. Natus, beatae!</p>
            </div>
          </div>
          <div class="back card item-text-wrapped success">
            <div class="top">
            </div>
            <div class="icon-holder">B</div>
            <div class="answer padding">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate itaque voluptatibus hic voluptas, natus quasi cupiditate asperiores, tempora delectus, iste et labore? Ullam autem inventore animi error temporibus voluptas sequi.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rem ab velit temporibus nam dicta fuga, cumque error? Ex culpa, incidunt cumque. Atque blanditiis soluta, nihil dolorem similique laudantium velit.</p>
            </div>
          </div>
        </div>
      </div>
      <div ng-click="flip()" class="flip-container">
        <div class="flipper clearfix">
          <div class="front card item-text-wrapped">
            <div class="top">
            </div>
            <div class="icon-holder">A</div>
            <div class="padding">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga incidunt distinctio error, aperiam reiciendis minus maxime quos ex voluptates commodi numquam beatae eius, animi consectetur eos tenetur dolorum. Natus, beatae!</p>
            </div>
          </div>
          <div class="back card item-text-wrapped success">
            <div class="top">
            </div>
            <div class="icon-holder">B</div>
            <div class="answer padding">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate itaque voluptatibus hic voluptas, natus quasi cupiditate asperiores, tempora delectus, iste et labore? Ullam autem inventore animi error temporibus voluptas sequi.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rem ab velit temporibus nam dicta fuga, cumque error? Ex culpa, incidunt cumque. Atque blanditiis soluta, nihil dolorem similique laudantium velit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</body>

</html>