
.em-padding-header {
    padding: 2px;
}


#dashboard-view {
    background: url(../img/welcome_bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.profile-container {
    position: relative;
    padding: 25px;
    background-color:transparent;
}

.profile-pic {
    position:relative;
    z-index:5;
    text-align: center;
    height: 95px;
    width: 95px;
    background-size: cover;
    display: block;
    margin: 0 auto 0 auto;
    border: 6px solid $balanced;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.select-card {
    margin: 15px;    
}


.platform-android ion-popover-view.fit {
    margin-top: 10px !important;
}