.card-container {
    text-align: center; 
    align-items: center; 
}

.custom-card {
    background-size: cover;
    border-radius:25% !important;
    margin: 5px !important;
    display: inline-block
}

